body {
    background-color: lightgreen;
}

button {
    border: solid 1pt;
    background: rgba(42, 50, 113, 0.28);
    color: #ffffff;
    cursor: pointer;
    float: left;
    font: inherit;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    border-radius: 8px;
}

button:hover {
    background: #201e40;
}